@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #ef0909;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.image {
  width:  -webkit-fill-available;
  height: -webkit-fill-available;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;


}

body {
  background-color: #3b3b3b;
  padding: 30px;
}


.card{
  width: 300px;
  background-color: white;
  background-color: black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 10px #00000066;
  transition: box-shadow 0.3s ease-in-out;
}

.card:hover {
  box-shadow: 20px 20px 20px #00000066;
  cursor: pointer;
}

.exercises {
  display: flex;
  gap: 25px;
}

.title {
  color: white;
  background-color: #57192e;
  border: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
  font-family: "Knewave", system-ui;
  font-weight: 400;
  font-style: normal;
  text-transform: capitalize;
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  transition: box-shadow 0.5s ease;
}

.card:hover .title {
  background-color: #9d1725;
}

h1 {
  color: white;
}

.deadliftPage {
  background-color: white;
}

.step {
  padding: 0px 20px;
}

.stepTitle {
    background: red;
    padding: 20px;
    text-align: center;
    font-size: 25px;
    border-width: 5px;
    border-color: black;
    border-style: solid;
}

.stepImage {
  display: block;
  margin: auto;
}

.pageTitle {
  color: black;
  font-family: "Knewave", system-ui; 
  text-align: center;
}

.backButton {
    border-radius: 100px;
    padding: 8px 16px;
    border: none;
    background: black;
    color: white;
}